{{>userheader}}

<div class="container p-5">
    <div class="row ">
        {{#each men}}
        <div class="col-md-4 " >
            <div class="block2"style="width: 300px; height:500px" >
						<div class="block2-pic hov-img0"  >
							<img src="/images/{{this.images.[0]}}" alt="IMG-PRODUCT">

							<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
								Quick View
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{this.description}}
								</a>

								<span class="stext-105 cl3">
									{{this.price}}
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
        </div>
            {{/each}}
    </div>
</div>
{{>userfooter}}