{{>userheader}}

<div class="container">


        <form id="form" action="/resetPassword" method="post">
            <h1>Reset Password</h1>

            <div class="input-control">
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="cpassword"> Confirm Password</label>
                <input id="cpassword"name="cpassword" type="password">
                <div class="error"></div>
            </div>

            <button type="submit">Submit</button>
        </form>
</div>


<script>
    const form = document.querySelector('#form');
form.addEventListener('submit', e => {
  e.preventDefault(); // Prevent the form from submitting

  const password = document.querySelector('#password').value;
  const confirmPassword = document.querySelector('#cpassword').value;

  if (password !== confirmPassword) {
    const errorDiv = document.querySelector('#cpassword + .error');
    errorDiv.textContent = 'Passwords do not match';
    return;
  }

  if (password.length < 8) {
    const errorDiv = document.querySelector('#password + .error');
    errorDiv.textContent = 'Password must be at least 8 characters long';
    return;
  }

  form.submit();
});

</script>

{{>userfooter}}