{{>userheader}}

<div class="container">
        <form id="form" action="" method="post">
            <h1>Creat an Account</h1>
            <div class="input-control">
                <label for="username">Name</label>
                <input id="username" name="name" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="mobile">Mobile</label>
                <input id="mobile" name="mobile" type="tel">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password">Password</label>
                <input id="password"name="password" type="password">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password2">Password again</label>
                <input id="password2"name="password2" type="password">
                <div class="error"></div>
            </div>
            <button type="submit">Sign Up</button>
                {{#if message}}
                      <div class="alert text-success  text-center" role="alert">
                          {{{message}}}
                      </div>
                  {{/if}}
                  <p>Already have an account? <a href="/login">login here</a></p>

        </form>
    </div>
    <script src="/js/validation.js"></script>
	{{>userfooter}}