{{>adminheader}}
    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      form {
        width: 50%;
        padding: 2em;
        background-color: #f7f7f7;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #ccc;
      }

      .form-group {
        margin-bottom: 1em;
      }

      label {
        font-weight: 600;
      }

      .btn-primary {
        width: 100%;
        margin-top: 1em;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">Add Product</h2>
      <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" name="images" id="image" multiple >
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select type="text" name="category" id="form1Example1" class="form-control">
            {{#each category}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            {{!-- <option value="63eb13aca25f9c81bec33340">Women</option>
            <option value="63ed346093de88939e5acaa5">Accesories</option> --}}
          </select>

        </div>
        <div class="form-group">
          <label for="stock">Stock</label>
          <input type="number" class="form-control" id="stock" name="stock">
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
      </form>
      <div>
        <p>{{message}}</p>
      </div>
<button class="btn btn-success"><a class="text-dark" href="/admin/product">Cancel</a></button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>

